﻿@*
Vista Home => Ha il compito di renderizzare i contenuti passati dal controller a questa vista mediante istanza IndexViewModel  
*@

@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

    <div class="jumbotron bg-light">
        <h2 class="text-center text-primary">Rubrica</h2>
        <hr />
        <h4 class="text-center text-secondary">Contatti</h4>
        <div id="book" class="row">
            @if (Model != null)
            {
                @foreach (var contact in Model.Contacts)
                {
                    <div class="col-md-12 card">

                        <div class="card-body">
                            <h5 class="card-title">@contact</h5>
                        </div>
                    </div>
                }
            }
        </div>
        <hr />
        <h4 class="text-center text-secondary">Aggiungi Contatto</h4>
        <div class="row">
            <div class="col-md-12 text-center">
                <form asp-action="AddToContacts" id="#addToCont">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="emailToAdd" class="form-control" id="emailToAdd" type="email" placeholder="E-Mail del contatto da aggiungere" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="Aggiungi" id="aggiungiContatto" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="jumbotron bg-light">
        <h2 class="text-center text-primary">
            Chat
        </h2>
        <hr />
        <h4 class="text-center text-secondary">Stai scrivendo a: <span id="with">Nessun utente selezionato</span></h4>
        <h6 class="text-center">Seleziona l'utente dalla rubrica premendo sul riquadro corrispondente, se non hai aggiunto ancora contatti aggiungine subito uno!</h6>
        <hr />
        <div class="row">
            <div class="col-md-12 text-center">
                <form asp-action="Create" id="#form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input name="Text" class="form-control" id="messageText" type="text" placeholder="Testo da spedire" />
                        <input name="ReceiverEmail" value="" class="form-control" id="receiverEmail" type="hidden" placeholder="E-mail destinatario" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="Invia" id="submitButton" class="btn btn-primary" />
                    </div>
                    <input type="hidden" value="@userName" name="username" />
                </form>
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="col-md-12" id="chat">
                @if (Model != null)
                {
                    @foreach (var message in Model.Messages.OrderBy(m => m.TimeStamp))
                    {
                        string containerClass, timePosition, textAlign, contcolor, offset;
                        if (userName == message.Username)
                        {
                            containerClass = "container darker";
                            timePosition = "time-right text-light";
                            textAlign = "text-right text-white";
                            contcolor = "bg-primary";
                            offset = "col-md-6 offset-md-6";
                        }
                        else
                        {
                            containerClass = "container";
                            timePosition = "time-left";
                            textAlign = "text-left";
                            contcolor = "bg-light";
                            offset = "";
                        }
                        <div class="row">
                            <div class="@offset">
                                <div class="@containerClass @contcolor">
                                    <p class="sender @textAlign">From: @message.Username <br /> To: @message.ReceiverEmail</p>
                                    <p class="@textAlign">@message.Text</p>
                                    <p class="@timePosition">@message.TimeStamp.ToString("d/M/yyyy hh:mm")</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>

    </div>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@Model.CurrentUsername";
    </script>
}

@section scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>    
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
    <script src="~/js/contacts.js"></script>
}